.container
    .jumbotron
        h1 MEAN
        p WELCOME to lasfasfasfga
    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")
